<div class="row white">
    <table class="responsive-table">
        <thead>
            <tr>
                <th data-field="nome">Nome</th>
                <th data-field="nascimento">Nascimento</th>
                <th data-field="cpf">CPF</th>
                <th data-field="email">Email</th>
                <th data-field="telefone">Fone</th>
                <th data-field="editar"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let cliente of clientes" [class.inativo]="!cliente.ativo">
                <td>{{cliente.nome}}</td>
                <td>{{cliente.nascimento | date:"dd/MM/yyyy"}}</td>
                <td>{{cliente.cpf}}</td>
                <td>{{cliente.email}}</td>
                <td>{{cliente.telefone}}</td>
                <td>
                    <a (click)="gotoCadastro(cliente)" class="waves-effect waves-light btn botaoAcao">
                        <i class="tyni material-icons">edit</i>
                    </a>
                </td>
            </tr>
            <div *ngIf="clientes && clientes.length == 0">
                <div class="card red lighten-4">
                    <div class="card-content red-text">
                        Sem dados que atendam aos filtros!
                    </div>

                </div>
            </div>
        </tbody>

    </table>

    <div class="error" *ngIf="error">{{error}}</div>

</div>

<div class="fixed-action-btn" style="bottom: 5%; right: 5%;">
    <a (click)="novoCliente()" class="btn-floating btn-large waves-effect waves-light red">
        <i class="material-icons">add</i>
    </a>
</div>
